.wrapper {
  color: #c5c5c5;
  min-height: 100%;

  .welcome-card {
    background: #151515;
    width: 70%;
    border: none;
  }

  .demo-image {
    width: 900px;
    box-shadow: 5px 6px 5px #0000002b;
    margin-bottom: 50px;
  }

  .btn {
    width: 250px;
  }
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}